<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-2" ><br /><br />
          <h2><h1>Check your email!</h1></h2>
            <p class="desc">We’ve sent a confirmation token to <strong>{{mail}}</strong>.Enter it below to confirm your email address and enter your new password.</p>
            <br><br><br>
            <label><span class="normal">Your </span>confirmation token</label>
            <form class="login-form" #getToken="ngForm" (ngSubmit)='resetPassword(getToken)' method="post" action="">
              <input type="text" class="inline_input" [(ngModel)]="token" name="token"> <br />
              <label><span class="normal">Your </span>new password</label><br />
              <input type="password" class="inline_input" [(ngModel)]="password" name="password"><br /><br />
              <input type="submit" name="submit" value="Confirm">
            </form>
          </div>
    </div>
