<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <!-- <h1>SIGN UP HERE</h1> -->
  <form action='' #signUpForm="ngForm" (ngSubmit)='signUp(signUpForm)' method='post'>
    <label>
      <p class="label-txt">ENTER FIRST NAME</p>
      <input type="text" name="fname" [(ngModel)]="fname" class="input" size="15" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
      <p class="label-txt">ENTER LAST NAME</p>
      <input type="text" name="lname" [(ngModel)]="lname" class="input" size="15" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
      <p class="label-txt">ENTER USERNAME</p>
      <input type="text" name="userName" [(ngModel)]="userName" class="input" size="30" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
      <p class="label-txt">ENTER EMAIL ID</p>
      <input type="email" class="input" [(ngModel)]="email" name="email" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <label>
      <p class="label-txt">GENDER</p>
      <input type="radio" name="gender" [(ngModel)]="gender" value="male" > Male
      <input type="radio" name="gender" [(ngModel)]="gender" value="female" checked> Female
    </label>

    <label>
      <p class="label-txt">ENTER PASSWORD</p>
      <input type="password" class="input" [(ngModel)]="password" name="password" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <input type="submit" name="submit" class="button" value="Sign Up"><p>&emsp;</p><br />
    <div class="copy-text">Already have an account? <a href="/">Login </a>here</div>
  </form>
</body>
</html>
